:root {
  --cardinal: #612626;
  --very-light-gray: #F1F1F1;
  --light-gray: #C2C0BF;
  --dark-gray: #8A8B8C;
}

:root {
  --serif-font: 'Palatino Linotype', Palatino, 'DejaVu Serif', Georgia, serif;
  --serif-weight: normal;
}

body {
  font-family: var(--serif-font);
  font-size: 15px;
  line-height: 1.8em;
  color: black;
  font-weight: 300;
  background: white;
  margin-top: 50px;
}

body .container,
body .container-fluid {
  max-width: 900px;
}

body .row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

a {
  color: var(--cardinal);
  text-decoration: none;
}

a:hover {
  color: var(--cardinal);
  text-decoration: underline;
}

.section-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-title {
  font-family: var(--serif-font);
  font-size: 22px;
  font-weight: var(--serif-weight);
  padding-bottom: 10px;
}

.col-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.content-pad {
  padding-left: 1em;
  padding-right: 1em;
}

#news li,
#Services li,
#awards li {
  margin-left: 0em;
}

.sec-wrapper {
  margin-top: -50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bio-wrapper .bio-text {
  margin-bottom: 0.4em;
}

/*------------------
 * Navigation Bar
 *------------------*/

nav {
  background-color: var(--cardinal);
}

.navbar {
  padding: 11px 0;
}

.navbar-brand,
.nav-link {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: var(--serif-weight);
  font-family: var(--serif-font);
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-toggler {
  font-size: 15px;
  padding: 1px 6px;
}

.navbar .container,
.navbar .container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

.navbar .dropdown-menu {
  font-size: 15px;
}

@media (max-width: 575.98px) {
  .navbar .nav-item {
    padding-top: 2px;
  }

  .navbar .dropdown-item {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}

/*-----------------
 * Home
 *------------------*/

.home-wrapper {
  padding-top: 70px;
}

.home-wrapper .picture img {
  width: 100%;
}

@media (min-width: 576px) {
  .home-wrapper .picture img {
    max-width: 200px;
  }
}

.home-wrapper .description {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home-wrapper .description .name {
  font-size: 34px;
  font-weight: var(--serif-weight);
  font-family: var(--serif-font);
  margin-bottom: 12px;
}

.home-wrapper .description .email-line {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .home-wrapper .description {
    padding-top: 0;
    padding-left: calc(48px + 7%);
  }
}

.home-wrapper .social-icon {
  margin-top: auto;
  margin-bottom: 0;
  padding: 0;
  display: block;
}

.home-wrapper .social-icon li {
  display: inline-block;
  margin: 0 2px;
}

.home-wrapper .social-icon li a {
  display: block;
  color: black;
  font-size: 12px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 2px;
  border: 2px solid var(--very-light-gray);
}

.home-wrapper .social-icon li a:hover {
  border-color: var(--light-gray);
}

.home-wrapper .interests {
  padding-top: 22px;
  margin-bottom: 0;
}

.home-wrapper .interests .section-title {
  font-size: 15px;
  padding-bottom: 4px;
}

.home-wrapper .interests ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2.5em;
}

/*------------------
 * Publications
 *------------------*/

.pub-wrapper .title a {
  color: black;
  font-weight: var(--serif-weight);
  font-family: var(--serif-font);
  font-size: 17px;
}

.pub-wrapper .title a:hover {
  color: black;
}

.pub-wrapper .authors {
  color: var(--light-gray);
}

.pub-wrapper .authors a {
  color: var(--light-gray);
  text-decoration: underline;
}

.pub-wrapper .authors a:hover {
  color: var(--dark-gray);
}

.pub-wrapper .authors me {
  color: black;
}

.pub-wrapper .venue {
  margin-top: 4px;
  margin-bottom: 12px;
  line-height: 1.3;
}

.pub-wrapper .figure img {
  margin: auto;
  padding-left: 0;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

@media (max-width: 767.98px) {
  .pub-wrapper .figure {
    display: none;
  }
}

/*------------------
 * Experience
 *------------------*/

.exp-wrapper .title a {
  font-size: 17px;
  font-weight: var(--serif-weight);
  font-family: var(--serif-font);
}

.exp-wrapper a,
.exp-wrapper a:hover {
  color: black;
}

.exp-wrapper .info {
  line-height: 20px;
}

.exp-wrapper .figure {
  text-align: center;
  margin: auto;
  display: none;
}

.exp-wrapper .fig-square .figure {
  text-align: right;
}

.exp-wrapper .figure img {
  margin: auto;
  padding-left: 0;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 250px;
}

.exp-wrapper .fig-square .figure img {
  max-width: 120px;
}

@media (min-width: 576px) {
  .exp-wrapper .figure {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .exp-wrapper .fig-wide {
    display: none;
  }

  .exp-wrapper .fig-square {
    display: block;
  }
}

@media (min-width: 992px) {
  .exp-wrapper .fig-wide {
    display: block;
  }

  .exp-wrapper .fig-square {
    display: none;
  }
}

.exp-wrapper time {
  font-size: 15px;
}

@media (min-width: 768px) {
  .exp-wrapper time {
    text-align: center;
    display: block;
  }
}

@media (max-width: 767.98px) {
  .exp-wrapper .location {
    display: none;
  }
}

.exp-wrapper .location {
  color: var(--light-gray);
}

.intern-item {
  list-style: none;
  padding-left: 0.1em;
}

.intern-role {
  margin-left: 1em;
  color: var(--dark-gray);
}

@media (max-width: 767.98px) {
  body {
    line-height: 1.7em;
  }

  body .container,
  body .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }

  .sec-wrapper {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .section-title {
    font-size: 20px;
    padding-bottom: 8px;
  }

  .navbar .container,
  .navbar .container-fluid {
    padding-right: 14px;
    padding-left: 14px;
  }

  .navbar-brand {
    font-size: 1.75rem;
  }

  .home-wrapper {
    padding-top: 54px;
  }

  .home-wrapper .row {
    display: block;
  }

  .home-wrapper .picture {
    margin-bottom: 16px;
  }

  .home-wrapper .picture .col-sm-auto {
    display: flex;
    justify-content: center;
  }

  .home-wrapper .picture img {
    max-width: min(72vw, 260px);
    margin: 0 auto;
    display: block;
  }

  .home-wrapper .description {
    padding-left: 0 !important;
    height: auto;
  }

  .home-wrapper .description .name {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .home-wrapper .description .email-line {
    font-size: 16px;
  }

  .home-wrapper .interests {
    padding-top: 16px;
  }

  .home-wrapper .interests ul {
    padding-left: 1.6em;
  }

  .content-pad {
    padding-left: 0;
    padding-right: 0;
  }

  #news li,
  #Services li,
  #awards li {
    margin-left: 1.5em;
    margin-bottom: 0.45em;
  }

  .pub-wrapper .title a {
    font-size: 16px;
    line-height: 1.45;
  }

  .pub-wrapper .authors,
  .pub-wrapper .venue {
    line-height: 1.5;
  }
}
